.content {
    margin: 0;
    border: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
}
.contentRock, .contentPaper, .contentScissors {
    display: flex;
    flex-direction: column;
}
.resultBorder {
    text-align: center;
    margin: 50px;
    border: solid 1px red;
}
